Repository DathaPlus/Dathaplus-skyjet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

[IS-62]: Delete package-lock.json
  package-lock.json
Due: none

[IS-78]/feat: contact us (#14)
  src/components/contacts/index.tsx
  src/components/contacts/styles.ts
  src/components/questionsContact/index.tsx
  src/components/questionsContact/styles.ts
  src/interfaces/contacts.ts
  src/pages/contact.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-62]: add yarn.lock
  yarn.lock
Due: none

[IS-62]: fix actions
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
Due: none

[IS-62]: Reset form after send email
  src/components/form/index.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-62]: Add complete form (#13)
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
  api/v1/email.php
  package-lock.json
  package.json
  src/components/form/index.tsx
  src/components/form/style.ts
  src/components/header/style.ts
  src/components/hero/header.tsx
  src/components/hero/styles.ts
  src/components/ourValues/index.tsx
  src/components/testForm/index.ts
  src/components/testForm/style.ts
  src/hooks/useMobile.ts
  src/pages/form.tsx
  src/utils/sendEmail.ts
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-83]/fix: minor changes
  gatsby-browser.js
  public/img/scroll.webp
  src/components/contacts/styles.ts
  src/components/form/index.tsx
  src/components/header/style.ts
  src/components/hero/body.tsx
  src/components/hero/index.tsx
  src/components/hero/styles.ts
  src/components/navbar/index.tsx
  src/components/navbar/style.ts
  src/components/questionsContact/index.tsx
  src/components/questionsContact/styles.ts
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/form.tsx
  src/pages/testcol.tsx
  yarn-error.log
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-83]/fix: validation schema form
  gatsby-config.ts
  src/components/form/index.tsx
  src/validations/form.ts
  tsconfig.json
Due: eslint --fix, prettier --write --config ./.prettierrc

Update README.md
  README.md
Due: prettier --list-different

[IS-80]/feat: component aircraft management
  src/pages/aircraft-management.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/fix: separacion de estilos
  public/img/Rectangle1.png
  src/components/sectionaircraftmanagement/body/index.tsx
  src/components/sectionaircraftmanagement/body/style.ts
  src/components/sectionaircraftmanagement/main/index.tsx
  src/components/sectionaircraftmanagement/style.ts
  src/helpers/aircraft.tsx
  src/pages/aircraft-management.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/fix: se agrego el seo
  src/pages/aircraft-management.tsx
  src/pages/testcol.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-83] Minor Changes (#15)
  README.md
  gatsby-browser.js
  gatsby-config.ts
  public/img/scroll.webp
  src/components/contacts/styles.ts
  src/components/form/index.tsx
  src/components/header/style.ts
  src/components/hero/body.tsx
  src/components/hero/index.tsx
  src/components/hero/styles.ts
  src/components/navbar/index.tsx
  src/components/navbar/style.ts
  src/components/questionsContact/index.tsx
  src/components/questionsContact/styles.ts
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/form.tsx
  src/pages/testcol.tsx
  src/validations/form.ts
  tsconfig.json
  yarn-error.log
Due: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

[IS-80]/fix: se agregaron animaciones faltantes
  src/components/sectionaircraftmanagement/body/style.ts
  src/components/sectionaircraftmanagement/style.ts
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/fix: se cambio el orden del texto en la seccion body
  src/helpers/aircraft.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/feat: component aircraft management
  public/img/rectangle24.webp
  src/pages/aircraft-management.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/feat: component aircraft management
  README.md
  src/components/header/style.ts
  src/components/sectionaircraftmanagement/style.ts
  src/pages/aircraft-management.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

[IS-80] Aircraft Management Page (#16)
  README.md
  package-lock.json
  public/img/Rectangle 1.png
  public/img/Rectangle22.png
  public/img/Rectangle4.png
  public/img/Rectangle5.png
  public/img/Rectangle6.png
  public/img/Rectangle7.png
  public/img/rectangle24.webp
  src/components/header/style.ts
  src/components/sectionaircraftmanagement/body/index.tsx
  src/components/sectionaircraftmanagement/body/style.ts
  src/components/sectionaircraftmanagement/index.ts
  src/components/sectionaircraftmanagement/main/index.tsx
  src/components/sectionaircraftmanagement/style.ts
  src/helpers/aircraft.tsx
  src/interfaces/sectionaircraftmanagement.ts
  src/pages/aircraft-management.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

[IS-80]/fix: se reemplazaron las imagenes png a webp
  public/img/Rectangle 1.png
  public/img/Rectangle22.png
  public/img/Rectangle4.png
  public/img/Rectangle5.png
  public/img/Rectangle6.png
  public/img/Rectangle7.png
  public/img/business2.webp
  public/img/plane/aviation.webp
  public/img/rectangle24.webp
  src/components/footer/styles.ts
  src/pages/aircraft-management.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

Test Factura
  package-lock.json
  package.json
  src/components/hero/styles.ts
  src/pages/factura.tsx
  src/pages/index2.html
  src/pages/scripts.js
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write --config ./.prettierrc: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --list-different: any of: *.md
