Repository DathaPlus/Dathaplus-skyjet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

[IS-52]/feat: se agrego el template-PR jira
  .github/pull_request_template.md
Due: prettier --list-different

[IS-60]/feat: testimonials home
  package.json
  src/components/buttonCarousel/index.tsx
  src/components/customer/index.tsx
  src/components/customer/style.ts
  src/components/navegationCarousel/index.tsx
  src/components/navegationCarousel/style.ts
  src/components/testimonial/index.tsx
  src/components/testimonial/style.ts
  src/interfaces/buttonCarousel.ts
  src/interfaces/testimonial.ts
  src/pages/index.tsx
  src/utils/theme.ts
  yarn-error.log
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-70]/feat: footer
  package.json
  src/components/footer/index.tsx
  src/components/footer/styles.ts
  src/components/link/index.tsx
  src/pages/index.tsx
  src/utils/theme.ts
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-70]/fix: se corrigio el tamaño de la fuente
  src/components/footer/index.tsx
  src/components/footer/styles.ts
  src/components/link/index.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-60]/feat: testimonials home (#1)
  package.json
  src/components/buttonCarousel/index.tsx
  src/components/customer/index.tsx
  src/components/customer/style.ts
  src/components/navegationCarousel/index.tsx
  src/components/navegationCarousel/style.ts
  src/components/testimonial/index.tsx
  src/components/testimonial/style.ts
  src/interfaces/buttonCarousel.ts
  src/interfaces/testimonial.ts
  src/pages/index.tsx
  src/utils/theme.ts
  yarn-error.log
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-70]: Footer (#2)
  package.json
  src/components/footer/index.tsx
  src/components/footer/styles.ts
  src/components/link/index.tsx
  src/pages/index.tsx
  src/utils/theme.ts
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-53] Sky Jets Elite - Banner principal
  gatsby-config.ts
  package.json
  src/components/customer/index.tsx
  src/components/customer/style.ts
  src/components/hero/body.tsx
  src/components/hero/header.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[DT+] add workflow to FTP deploy
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
  .gitignore
  .prettierignore
  gatsby-browser.tsx
  gatsby-config.ts
  package-lock.json
  package.json
  tsconfig.json
  yarn.lock
Due: none

[DT+] add workflow to FTP deploy
  .gitignore
  yarn-error.log
Due: none

[DT+] add workflow to FTP deploy
  .gitignore
  package-lock.json
  package.json
Due: none

[DT+] add workflow to FTP deploy
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
Due: none

[IS-69]/feat: add workflow to ftp deploy
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
  .gitignore
  .husky/pre-commit
  gatsby-ssr.tsx
  src/pages/404.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-57]/feat: header
  src/components/header/index.tsx
  src/components/header/style.ts
  src/interfaces/header.ts
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-58]/feat: certificate section
  package.json
  src/components/certification/index.tsx
  src/components/certification/styles.ts
  src/components/link/index.tsx
  src/interfaces/link.ts
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-58]/feat: se agregaron animaciones a la imagen
  src/components/certification/styles.ts
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-58]/fix: se agrego directorio img al gitignore
  .gitignore
  src/components/certification/styles.ts
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-53] Sky Jets Elite - Banner principal (#5)
  gatsby-config.ts
  package.json
  src/components/customer/index.tsx
  src/components/customer/style.ts
  src/components/hero/body.tsx
  src/components/hero/header.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-64]/feat: add .prettierignore
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/settings.json
  package.json
Due: none

[IS-64]/feat: add .prettierignore
  .prettierrc
Due: none

[IS-64]/feat: update workflows github actions
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
Due: none

[IS-64]/feat: update workflows github actions
  package.json
Due: none

[IS-57] Cabecera (#8)
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
  package.json
  src/components/header/index.tsx
  src/components/header/style.ts
  src/interfaces/header.ts
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-58] Certification Section (#9)
  .gitignore
  package.json
  src/components/certification/index.tsx
  src/components/certification/styles.ts
  src/components/link/index.tsx
  src/interfaces/link.ts
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/feat: component aircraft management
  .gitignore
  .gitmessage
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/infoText/index.tsx
  src/components/infoText/style.ts
  src/components/sectionaircraftmanagement/index.tsx
  src/components/sectionaircraftmanagement/style.ts
  src/interfaces/infoText.ts
  src/interfaces/sectionaircraftmanagement.ts
  src/pages/aircraft-management.tsx
  src/pages/testcol.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/feat: component aircraft management
  package-lock.json
  src/components/infoText/style.ts
  src/components/sectionaircraftmanagement/index.tsx
  src/components/sectionaircraftmanagement/style.ts
  src/pages/aircraft-management.tsx
  src/pages/testcol.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-84]/feat: pagina about
  package.json
  public/img/about_us.webp
  public/img/about_us_mobile.webp
  public/img/plane/beechjet.webp
  public/img/plane/gulfstream_g100.webp
  src/components/airplaneCarousel/index.tsx
  src/components/airplaneCarousel/style.ts
  src/components/card/index.tsx
  src/components/card/styles.ts
  src/components/certification/index.tsx
  src/components/footer/index.tsx
  src/components/header/index.tsx
  src/components/header/style.ts
  src/components/hero/header.tsx
  src/components/hero/index.tsx
  src/components/layout/index.tsx
  src/components/link/index.tsx
  src/components/ourValues/index.tsx
  src/components/ourValues/style.ts
  src/components/partnerTestimonial/index.tsx
  src/components/partnerTestimonial/styles.ts
  src/components/sectionAirplane/index.tsx
  src/components/sectionAirplane/style.ts
  src/interfaces/airplane.ts
  src/interfaces/card.ts
  src/interfaces/link.ts
  src/pages/about.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-84]/feat: pagina about
  package.json
  src/components/hero/header.tsx
  src/components/link/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-84]/fix: optimizaciones lighthouse
  package.json
  src/components/airplaneCarousel/index.tsx
  src/components/card/index.tsx
  src/components/card/styles.ts
  src/components/certification/index.tsx
  src/components/certification/styles.ts
  src/components/hero/header.tsx
  src/components/ourValues/index.tsx
  src/components/partnerTestimonial/index.tsx
  src/components/partnerTestimonial/styles.ts
  src/components/sectionServices/index.tsx
  src/components/testimonial/index.tsx
  src/interfaces/testimonial.ts
  src/pages/about.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-84] Pagina about (#12)
  package.json
  public/img/about_us.webp
  public/img/about_us_mobile.webp
  public/img/plane/beechjet.webp
  public/img/plane/gulfstream_g100.webp
  src/components/airplaneCarousel/index.tsx
  src/components/airplaneCarousel/style.ts
  src/components/card/index.tsx
  src/components/card/styles.ts
  src/components/certification/index.tsx
  src/components/certification/styles.ts
  src/components/footer/index.tsx
  src/components/header/index.tsx
  src/components/header/style.ts
  src/components/hero/header.tsx
  src/components/hero/index.tsx
  src/components/layout/index.tsx
  src/components/link/index.tsx
  src/components/ourValues/index.tsx
  src/components/ourValues/style.ts
  src/components/partnerTestimonial/index.tsx
  src/components/partnerTestimonial/styles.ts
  src/components/sectionAirplane/index.tsx
  src/components/sectionAirplane/style.ts
  src/components/sectionServices/index.tsx
  src/components/testimonial/index.tsx
  src/interfaces/airplane.ts
  src/interfaces/card.ts
  src/interfaces/link.ts
  src/interfaces/testimonial.ts
  src/pages/about.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-62]: Add complete form
  package.json
  src/components/form/index.tsx
  src/components/form/style.ts
  src/hooks/useMobile.ts
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/feat: component aircraft management
  src/components/sectionaircraftmanagement/index.tsx
  src/components/sectionaircraftmanagement/style.ts
  src/pages/aircraft-management.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-80]/feat: component aircraft management
  public/img/rectangle1.webp
Due: none

[IS-80]/feat: component aircraft management
  package-lock.json
  yarn.lock
Due: none

[IS-80]/feat: component aircraft management (#11)
  .gitignore
  .gitmessage
  .husky/pre-commit
  package-lock.json
  package.json
  public/img/rectangle1.webp
  src/components/infoText/style.ts
  src/components/sectionaircraftmanagement/index.tsx
  src/components/sectionaircraftmanagement/style.ts
  src/interfaces/sectionaircraftmanagement.ts
  src/pages/aircraft-management.tsx
  src/pages/testcol.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-62]: About us form
  package.json
  src/components/form/index.tsx
  src/components/form/style.ts
  src/components/hero/styles.ts
  src/components/ourValues/index.tsx
  src/components/testForm/index.ts
  src/components/testForm/style.ts
  src/pages/form.tsx
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-62]/feat: se agrego el componente header al form
  src/components/form/index.tsx
  src/components/form/style.ts
  src/components/header/style.ts
  src/components/testForm/style.ts
  src/pages/form.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-78]/feat: contact us
  src/components/contacts/index.tsx
  src/components/contacts/styles.ts
  src/components/questionsContact/index.tsx
  src/components/questionsContact/styles.ts
  src/interfaces/contacts.ts
  src/pages/contact.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-62]: Add color navbars, add actions to endpoint, add required property to form
  .github/workflows/dev-ftp-deploy.yml
  .github/workflows/prod-ftp-deploy.yml
  api/v1/email.php
  src/components/form/index.tsx
  src/components/hero/header.tsx
  src/components/hero/styles.ts
  src/pages/form.tsx
  src/utils/sendEmail.ts
Due: eslint --fix, prettier --write --config ./.prettierrc

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write --config ./.prettierrc: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --list-different: any of: *.md
